<script src="moment.js"></script>
<h1>Список представлений</h1>
<table *ngIf="tableMode; else create" class="table">
  <thead>
    <tr>
      <td>Картинка</td>
      <td>Название/Описание</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let te of pageOfTheatricalevents">
      <td width="220px">
        <img src="{{'data:image/jpg;base64,' + te?.image}}" />
      </td>
      <td width="60%">
        <div>
          <table class="table">
            <tr>
              Название: {{te?.name}}
            </tr>
            <tr>
              Описание: {{te?.description}}
            </tr>
          </table>
        </div>
      </td>
      <td style="vertical-align:middle">
        <button class="btn btn-primary" (click)="editTheatricalEvent(te)">Купить билет</button>
      </td>
    </tr>
  </tbody>
</table>
<div style="width:30%;margin:auto">
  <jw-pagination [items]="theatricalevents" (changePage)="onChangePage($event)" pageSize="1"></jw-pagination>
</div>
