<script src="moment.js"></script>
<h1>Список представлений</h1>
<form class="form-inline">
  <div class="form-group hidden">
    <div class="input-group">
      <input name="datepicker"
             class="form-control"
             ngbDatepicker
             #datepicker="ngbDatepicker"
             [autoClose]="'outside'"
             (dateSelect)="onDateSelection($event)"
             [displayMonths]="2"
             [dayTemplate]="t"
             outsideDays="hidden"
             [startDate]="fromDate">
      <ng-template #t let-date let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <input #dpFromDate
             class="form-control" placeholder="Введите дату для фильтрации"
             name="dpFromDate"
             [value]="formatter.format(fromDate)"
             (input)="fromDate = validateInput(fromDate, dpFromDate.value)" disabled>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
      </div>
    </div>
  </div>

  <button style="margin-left: 5px" class="btn btn-primary" (click)="filterAfisha()">Фильтровать</button>
  <button style="margin-left: 5px" class="btn btn-primary" (click)="cancelfilterAfisha()">Отменить фильтрацию</button>
</form>
<br />
<table *ngIf="tableMode; else create" class="table">
  <thead>
    <tr>
      <td>Картинка</td>
      <td>Название/Описание</td>
      <td>Даты проведения</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let scheduledevent of pageOfScheduledevents">
      <td width="220px">
        <img src="{{'data:image/jpg;base64,' + scheduledevent.theatricalEvent?.image}}" />
      </td>
      <td width="60%">
        <div>
          <table class="table">
            <tr>
              Название: {{scheduledevent.theatricalEvent?.name}}
            </tr>
            <tr>
              Описание: {{scheduledevent.theatricalEvent?.description}}
            </tr>
          </table>
        </div>
      </td>
      <td>{{getDates(scheduledevent).minDate | date:'dd/MM/yyyy'}} - {{getDates(scheduledevent).maxDate  | date:'dd/MM/yyyy'}}</td>
      <td style="vertical-align:middle">
        <button class="btn btn-primary" [routerLink]="['/afisha/', scheduledevent.theatricalEvent?.id]">Детали</button>
      </td>
    </tr>
  </tbody>
</table>
<div style="width:30%;margin:auto">
  <jw-pagination [items]="scheduledevents" (changePage)="onChangePage($event)" pageSize="1"></jw-pagination>
</div>
